#Please add all unnecessary folders, directories, and files here to prevent crowding the repo

#----- IDE related ---------
/idea/
.idea/

#----- music used for notebook ------------
music_for_chroma/

#--------

__pycache__/
env-name/