# Django and related packages
Django
django-cors-headers
django-mongodb-backend

# ML/Data Science
tf_keras==2.17.0
tensorflow==2.17.1
pandas
numpy
scikit-learn
#pandas.api.types

# Google Cloud
google-cloud-storage
gunicorn==23.0.0

#other
python-dotenv
ipywidgets==7.8.5
tqdm
python-gitlab==4.4.0
PyYAML==6.0.1
