/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  
  --palette-vintage-lavendar: #A167A5;
  --palette-thistle: #D3BCCC;
  --palette-deep-space-blue: #0E273C;
  --palette-deep-space-blue-test: #a1d5ff;
  --palette-indigo-velvet: #4A306D;
  --palette-indigo-velvet-border: #862ff8;
  --palette-lavendar-veil: #E8D7F1;

  --section-separator: 150px;
}

/* semantic color variables for this project */
:root {
  /* backround colors */
  --color-background: var(--vt-c-divider-light-2);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-navbar-background: var(--palette-thistle);
  --color-gradient-background: linear-gradient(180deg,rgba(211, 188, 204, 1) 0%, rgba(134, 47, 248, 0.5) 100%);
  --color-form-background: var(--palette-lavendar-veil);

  /* border colors */
  --color-border: var(--palette-indigo-velvet-border);
  --color-border-hover: var(--vt-c-divider-light-1);
  --color-border-active: var(--palette-indigo-velvet);

  /* text colors */
  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  /* accent colors */
  --color-nav-link-active: var(--palette-vintage-lavendar);

}

.dark-theme{
/* backround colors */
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-navbar-background: var(--palette-deep-space-blue);
  --color-gradient-background: linear-gradient(180deg,rgba(14, 39, 60, 1) 0%, rgba(134, 47, 248, 0.5) 100%);
  --color-form-background: var(--palette-indigo-velvet);

  
  /* border colors */
  --color-border: var(--palette-indigo-velvet-border);
  --color-border-active: var(--palette-indigo-velvet-border);
  /* --color-border-hover: var(--vt-c-divider-dark-1); */
  --color-border-hover: var(--palette-vintage-lavendar);

/* text colors */
  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-1);
  --color-text-active-tab: var(--vt-c-text-dark-2);

/* accent colors */
  --color-nav-link-box: var(--palette-vintage-lavendar);
  
}
