@import './base.css'; /* getting the basic color schemas from the base file*/

/* ###########################################################  BODY, HTML  ###########################################################*/
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* background: var(--color-background); */
  background: var(--page-background);
  background-color: var(--color-background);
}

html{
  margin: 0;
  padding: 0;
}

a{
  color: var(--color-text);
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* ###########################################################  HOME PAGE  ###########################################################*/

.home-container{
  color: var(--color-text);
  min-height: 100vh; 
  min-width: 100%; 
}

.banner-image{
  width: 100%;
  height: 500px;
  margin: auto;
  padding: auto;
  background: var(--color-gradient-background);

  /* to display the banner text in the middle of the banner div */
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text{
  min-width: 40%;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}

.banner-text h1{
  text-align: center;
}

/* added the img style but we do not have an image for now but this 
  keeps the option open */
.banner-image img{
  width: 100%;
  height: 800px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################  USER ACCOUNT PAGE  ###########################################################*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################  USER SETTINGS PAGE  ###########################################################*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################  USER HISTORY PAGE  ###########################################################*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################  ABOUT PAGE  ###########################################################*/
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: var(--color-text);
  }

@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: var(--color-text);
  }
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################  HEADER PAGE  ###########################################################*/


.nav-bar{
  margin: 0 auto;
  /* the border style is temporarily used for debugging and to make it easier to see and
      manipulate the elements on the page */
  /* border: 1px solid rgb(26, 248, 26); */
  padding: 0; 
}

.nav-bar header{
  max-width: 100%; 
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: var(--color-navbar-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-bar header img{
  width: 48px; 
  height: 48px;
  transition: transform 0.3s ease;

}



.nav-links a {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 2px solid var(--color-border);
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.nav-links a:hover{
  border-color: var(--color-border-hover);
}
 
.nav-links a.router-link-active{
  border: 2px solid var(--color-border-active);
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* ###########################################################  LOGIN PAGE  ###########################################################*/
.login-form-container{
  max-width: 400px;
  height: auto;
  margin: 40px auto;
  border-radius: 12px;
  background-color: var(--color-form-background);
  box-shadow: 0 4px 6px rgba(150, 1, 142, 0.2);
  padding: 0;
}

.login-form{
  padding: 40px 30px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.login-form label{
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-text);
}

.login-form button{
  width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: var(--color-text);
	background: var(--color-gradient-background);
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;

  box-shadow: 0 4px 6px rgba(150, 1, 142, 0.329);
	cursor: pointer;
}

.login-form button:hover{
  background-color: var(--color-border-active);
  color: var(--vt-c-white);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 0 0 2px var(--palette-indigo-valvet-border);
}

.login-form input{
  width: 95%;
	height: 10px;
	background: var(--color-background);
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################  SIGNUP PAGE  ###########################################################*/
.signup-form-container{
  max-width: 400px;
  height: auto;
  margin: 40px auto;
  border-radius: 12px;
  background-color: var(--color-form-background);
  box-shadow: 0 4px 6px rgba(150, 1, 142, 0.2);
  padding: 0;
  background-image: var(--color-background-image);
}

.signup-form{
  padding: 40px 30px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.signup-form label{
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-text);
}

.signup-form button{
  width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: var(--color-text);
	background: var(--color-gradient-background);
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;

  box-shadow: 0 4px 6px rgba(150, 1, 142, 0.329);
	cursor: pointer;
}

.signup-form button:hover{
  background-color: var(--color-border-active);
  color: var(--vt-c-white);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 0 0 2px var(--palette-indigo-valvet-border);
}

.signup-form input{
  width: 95%;
	height: 10px;
	background: var(--color-background);
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.signup-form input:hover{
  border: 1px solid var(--color-border-active);
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################  THEME SWITCHER  ###########################################################*/
.theme-toggle {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--standard-btn);
  color: var(--color-text);
  cursor: pointer;
  margin-left: 1rem;
}

.theme-toggle:hover {
  background-color: var(--color-background);
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################    ###########################################################*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################    ###########################################################*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################    ###########################################################*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################    ###########################################################*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################    ###########################################################*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################    ###########################################################*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################    ###########################################################*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################    ###########################################################*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################    ###########################################################*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################    ###########################################################*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* ###########################################################    ###########################################################*/
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */